.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  max-width: 100%;
}
.section-container {
  transition: opacity 1.5s ease, visibility 1s ease;
  opacity: 0;
  visibility: hidden;
}

.section-container.fade-in {
  opacity: 1;
  visibility: visible;
}

.section-container.fade-out {
  opacity: 0;
  visibility: hidden;
}


#about {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

#about h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#about p {
  font-size: 1.2em;
  color: #666;
}

#stacks {
  background-color: #eaeaea;
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#stacks h1 {
  text-align: center;
  margin-bottom: 20px;
}

#stacks ul {
  list-style-type: none;
  padding: 0;
}

#stacks ul li {
  font-size: 1.1em;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

#projects {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

#projects h1 {
  margin-bottom: 20px;
}

.errorMessage {
  background-color: #ffecec;
  border: 1px solid #f5c6cb;
  padding: 10px;
  text-align: center;
}

.errorText {
  color: #e63946;
  font-size: 1em;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
  margin-top: 40px;
  border-radius: 0 0 10px 10px;
}

footer p {
  margin: 5px 0;
  font-size: 0.9em;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* From Uiverse.io by Priyanshu02020 */ 
.container2 {
  --form-width: 315px;
  --aspect-ratio: 1.33;
  --login-box-color: #272727;
  --input-color: #3a3a3a;
  --button-color: #373737;
  --footer-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: var(--login-box-color);
  border-radius: 24px;
  width: calc(var(--form-width) + 300px);
  height: calc(var(--form-width) * var(--aspect-ratio) + 100px);
  z-index: 8;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 8px 16px rgba(0, 0, 0, 0.2),
    0 0 8px rgba(255, 255, 255, 0.1),
    0 0 16px rgba(255, 255, 255, 0.08);
}

.container2::before {
  content: "";
  position: absolute;
  inset: -150px;
  z-index: -2;
  background: conic-gradient(
    from 45deg,
    transparent 75%,
    #fff,
    transparent 100%
  );
  animation: spin 4s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.login-box {
  background: var(--login-box-color);
  border-radius: 24px;
  padding: 28px;
  width: var(--form-width);
  height: calc(var(--form-width) * var(--aspect-ratio));
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow:
    inset 0 40px 60px -8px rgba(255, 255, 255, 0.12),
    inset 4px 0 12px -6px rgba(255, 255, 255, 0.12),
    inset 0 0 12px -4px rgba(255, 255, 255, 0.12);
}

.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.logo {
  width: 65px;
  height: 65px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow:
    8px 8px 16px rgba(0, 0, 0, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: var(--input-color);
  color: white;
  outline: none;
  font-size: 14px;
}

.input:focus {
  border: 1px solid #fff;
}

.button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: grid;
  place-content: center;
  gap: 10px;
  background: var(--button-color);
  color: white;
  transition: 0.3s;
  box-shadow:
    inset 0px 3px 6px -4px rgba(255, 255, 255, 0.6),
    inset 0px -3px 6px -2px rgba(0, 0, 0, 0.8);
}
.sign-in {
  margin-top: 5px;
}

.google-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow:
    inset 0px 3px 6px rgba(255, 255, 255, 0.6),
    inset 0px -3px 6px rgba(0, 0, 0, 0.8),
    0px 0px 8px rgba(255, 255, 255, 0.05);
}

.icon {
  height: 16px;
}

.footer {
  width: 100%;
  text-align: left;
  color: var(--footer-color);
  font-size: 12px;
}

.footer .link {
  position: relative;
  color: var(--footer-color);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  border-radius: 6px;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

.footer .link:hover {
  color: #fff;
}

.footer .link:hover::after {
  width: 100%;
}
